#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7rem;
}
.skilltitle {
  color: rgb(37, 119, 186);
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.skilldescription {
  font-weight: 400;
  font-size: 1rem;
  max-width: 51rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.skillbars {
  margin: 0rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.skillbar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.skillbar img {
  object-fit: cover;
  height: 3rem;
  width: 8rem;
  margin-right: 2rem;
}
.skillbartext > p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: 200;
}
.skillbartext > h2 {
  color: rgb(37, 119, 186);
}

@media screen and (max-width: 720px) {
  .skillbartext > p {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: "Poppins ", sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .skillbartext > p {
    font-size: 3vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: "Poppins ", sans-serif;
  }
  .skillbarimg {
    height: 2.25rem;
    width: 2.25rem;
  }
  .skillbartext > h2 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 400px) {
  .skillbartext > p {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: "Poppins ", sans-serif;
  }
  .skillbar img {
    height: 1rem;
    margin-right: 1rem;
    object-fit: cover;
    width: 15rem;
  }
}
